<!DOCTYPE HTML>
<head>
    <title>Here, have a story.</title>

    <link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
</head>
<body>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>